.cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-container {
    display: flex;
    justify-content: center;
}

.price-wrapper {
    width: 25vw;
    /* width: 370px; */
    margin: 15px;
    padding: 15px;
    border: 1px solid rgb(185, 181, 181);
}

.price-details {
    display: flex;
    justify-content: space-between;
}