
.empty-cart-navbar-wrapper {
    /* width: 100vw; */
    height: 11vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(209, 206, 206);
    /* background-color: antiquewhite; */
    background-color: white;
}

.myntra-logo-empty-cart {
    width: 51px;
}

.right-sign {
    width: 33px;
}

.secure-sign-cart {
    display: flex;
    align-items: center;
}

.text-cart-navbar-empty {
    font-size: 14px; 
    font-weight: 650;
    color: rgb(82, 81, 81);
}